.tshirtsCollections{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 16px;
}

.tshirtsItems{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    
}

.tshirtsItems img{
    max-width: 90%;
    max-height: 60%;
}
.cartCalculation{
    font-weight: bold;
}